
// // Bootstrap Variables
// $icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
//
// // Import Bootstrap
// @import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

$border-lt-gray: rgb(200, 200, 200);
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul{
  list-style: none;
  margin:0;
  padding: 0;
}
img {
  max-width: 100%;
}
a{
  color: rgba(28, 173, 223, 1);
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
body{
  font-family: sans-serif;
  font-size: 80%;
  margin: 0;
}
input, button, select{
  border: 1px solid $border-lt-gray;
  margin: none;
  padding: none;
}
input:focus, button:focus, select:focus{
  outline: none;
}
input[type=checkbox]{

}
input[type=radio], input[type=checkbox]{
  display: none;
}
input[type="radio"] + label, input[type=checkbox] + label{
  display: block;
  position: relative;
  padding-left: 23px;
  margin-bottom: 9px;
}
input[type="radio"] + label:before, input[type="checkbox"] + label:before{
 position: absolute;
 content: '';
 width: 18px;
 height: 18px;
 border: 1px solid $border-lt-gray;
 border-radius: 10px;
 left: 0px;
}
input[type="checkbox"] + label:before{
  border-radius: 3px;
}
input[type="radio"]:checked + label:after{
 position: absolute;
 content: '';
 width: 10px;
 height: 10px;
 border-radius: 5px;
 background: rgba(28, 173, 223, 1);
 left: 4px;
 top: 4px;
}
input[type="checkbox"]:checked + label:after{
  border-radius: 3px;
  font-family: FontAwesome;
  content: '\f00c';
  color: rgba(28, 173, 223, 1);
  position: absolute;
  left: 3px;
  top: 2px;
}
select{
  width: 100%;
  height: 40px;
  padding-left: 15px;
  -webkit-appearance: none;
  position: relative;
}
select option {
  border: 1px solid #000;
  background: #010;
}
.dropdown-arrow{
  position: relative;
  &:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: $border-lt-gray transparent transparent transparent;
    right: 10px;
    top: 15px;
    z-index: 10;
  }
}
.float-left{
  float:left;
}
.float-right{
  float: right;
}
.container{
  width: 100%;
  background: rgba(245, 245, 241, 1);
  // height: 1000px;
  padding: 0;
}
.header{
  background: white;
  height: 80px;
  border-bottom: 1px solid $border-lt-gray;
}
.categories{
  background: white;
  height: 43px;
  border-bottom: 1px solid $border-lt-gray;
  box-shadow: 0 1px 1px 0 rgba(0,0,0, .1);
}
.inside{
  max-width: 985px;
  display: block;
  margin: 0 auto;
}
.header-info{
  width: 50%;
  float: left;
}
.logo-search{
  padding-top: 24px;
}
.top-nav-profile{
  padding-top: 10px;
}
#form-search-top{
  clear: both;
  display: inline-block;
  width: 80%;
}
#search-top{
  float: left;
  margin: 0 0 3px 17px;
  line-height: 29px;
  border-radius: 3px 0 0 3px;
  border: 1px 0 1px 1px;
  width: 65%;
}
#search-button{
  float: left;
  border-radius: 0 3px 3px 0;
  border: none;
  background: rgba(9, 168, 196, 1);
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  margin:0;
  width: 20%;
}
#top-nav-ul{
  text-align: right;
  font-size: 12px;
  padding-right: 6px;
}
.top-nav{
  display: inline-block;
  text-align: center;
  padding: 30px 15px 0 15px;
  color: rgba(102, 102, 102, 1);
  &:not(:last-of-type){
    border-right: 1px solid $border-lt-gray;
  }
}
.sell-on-etsy{
  font-size: 120%;
  padding: 14px 8px 14px 0;
  text-align: right;
  vertical-align: top;
}
.with-icon{
  position: relative;
  &::before{
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    top: 0;
    left: 50%;
    margin-left: -8px;
    background: rgba(102, 102, 102, 1);
  }
}
.categories{
  text-align: left;;
  padding-top: 7px;
}
.cat-item{
  display: inline-block;
  margin-right: 23px;
  line-height: 29px;
  font-size: 120%;
  a{
    text-decoration: none;
    color: rgba(136, 136, 139, 1);
  }
  &:hover{
    border-bottom: 3px solid rgba(248, 102, 0, 1);
    a{
      color: rgba(35, 35, 35, 1);
    }
  }
}
.page-info{
  margin-top: 30px;
}
.sidebar{
  width: 25%;
}
.sidebar-outside, .sidebar-box-area-title{
  font-weight: bold;
  color: rgba(85, 85, 85, 1);
}
.sidebar-box-area-title{
    margin-bottom: 10px;
}
.sidebar-outside{
  display: block;
  margin-bottom: 12px;
}
.sidebar-box{
  padding: 12px;
  background: white;
  border: 1px solid $border-lt-gray;
  border-radius: 5px;
  margin-bottom: 25px;
}
.sidebar-cat-link{
  margin-left: 10px;
  margin-bottom: 9px;
  color: rgba(28, 173, 223, 1);
}
.sidebar-box-area{
  border-bottom: 1px solid $border-lt-gray;
  padding-bottom: 18px;
  margin-bottom: 18px;
  &:last-of-type{
    border-bottom: none;
  }
}

.sort-text-input{
  width: 33%;
  height: 40px;
  font-size: 115%;
  border-radius: 5px;
  padding-left: 10px;
}
.sort-text-span{
  margin-left: 3px;
  margin-right: 5px;
}
.send-button{
  vertical-align: bottom;
  background: white;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  &:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 6px 0 6px 10px;
    border-color: transparent transparent transparent rgba(85, 85, 85, 1);
    top: 14px;
    left: 14px;
  }
}
.color-box{
  display: inline-block;
  width: 10%;
  padding-bottom: 9%;
  border-radius: 3px;
  border: 1px solid $border-lt-gray;
  content: '';
  cursor: pointer;
  background-color: attr(value);
  &:not(:last-of-type){
    // margin-right: 2%;
  }

}
.page-content{
  width: 70%;
  height: 500px;
  margin-left: 5%;
}
#top-cats{
  border-bottom: 1px solid $border-lt-gray;
}
.img-box-outer{
  border-radius: 5px;
  height: 200px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  text-align: center;
  margin-bottom: 1.4%;
}
.img-bg-holder{
  width: 120%;
  height: 200px;
  img{
    width: 150%;
    display: block;
    margin: 0 auto;
  }
}
.img-box-info{
  display: inline-block;
  padding: 12px;
  position: relative;
  top: 60%;
  z-index: 100;
  background: rgba(255, 255, 255, 1);
  border-radius: 5px;
  h3{
    margin: 0;
  }
}
.half{
  width: 49%;
  margin-right: 1.4%;
}
.third{
  width: 32%;
  margin-right: 1.4%;
}
.last{
  margin-right: 0;
}
.top-cats-title{
  margin-top: 0;
  margin-bottom: 10px;
}
.sort-by-dd-options{
  display: none;
}
.results-top-info{
  padding-top: 12px;
  padding-bottom: 12px;
}
.results-cat-path{
  display: inline-block;
  width: 70%;
}
.results-sort-by{
  display: inline-block;
  width: 29%;
  text-align: right;
}
.result{
  width: 32%;
  margin-right: 1.4%;
  display: inline-block;
  border-radius: 5px;
  background: white;
  border: 1px solid $border-lt-gray;
  margin-bottom: 1.4%;
  img{
    width: 100%;
  }
  &:nth-of-type(3n+0){
    margin-right: 0;
  }
}
.result-img-holder{
  display: block;
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
.result-meta{
  padding: 8px;
}
.result-seller, .result-price{
  display: inline-block;
  overflow: hidden;
}
.result-seller{
  width: 75%;
  a{
  color: $border-lt-gray;
  }
}
.result-price{
  width: 24.1%;
  text-align: right;
  color: rgba(124, 191, 85, 1);
}
.footer{
  clear: both;
}
